<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/site icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>

<body>

    {{>header}}
    <p>
        {{error_message}}
    </p>
    {{>footer}}
</body>

</html>